.title {
  text-align: center;
  margin: 200px 200px 100px;
}

#search_form {
  text-align: center;
}

input#search_text {
  width: 400px;
  height: 30px;
  border-radius: 15px;
  outline: none;
  text-align: center;
}
.intro {
  margin: 200px;
  text-align: center;
}